# Start ExplorViz with latest development changes
# Monitored applications can be connected

# Environment Variables are based on the 
# properties file of each service, e.g, 
# https://github.com/ExplorViz/explorviz-backend/blob/dev-1/user-service/src/main/resources/explorviz.properties

version: "3.2"
services:

  ### ExplorViz Services ###

  user-service:
    image: explorviz/explorviz-backend-user-service:dev
    container_name: explorviz-backend-user-service
    depends_on:
      - mongo-user
    environment:
      - MONGO_HOST=mongo-user

  settings-service:
    image: explorviz/explorviz-backend-settings-service:dev
    container_name: explorviz-backend-settings-service
    depends_on:
      - mongo-settings
    environment:
      - MONGO_HOST=mongo-settings

  landscape-service:
    image: explorviz/explorviz-backend-landscape-service:dev
    container_name: explorviz-backend-landscape-service
    depends_on:
      - kafka
    environment:
      - EXCHANGE_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - EXCHANGE_KAFKA_TOPIC_NAME=landscape-update
    expose:
      - "10135"

  broadcast-service:
    image: explorviz/explorviz-backend-broadcast-service:dev
    container_name: explorviz-backend-broadcast-service
    depends_on:
      - kafka
    environment:
      - EXCHANGE_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - EXCHANGE_KAFKA_TOPIC_NAME=landscape-update

  history-service:
    image: explorviz/explorviz-backend-history-service:dev
    container_name: explorviz-backend-history-service
    depends_on:
      - mongo-history
      - kafka
    environment:
      - MONGO_HOST=mongo-history
      - EXCHANGE_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - EXCHANGE_KAFKA_TOPIC_NAME=landscape-update

  analysis-service:
    image: explorviz/explorviz-backend-analysis-service:dev
    container_name: explorviz-backend-analysis-service
    ports:
      - "10133:10133"

  discovery-service:
    image: explorviz/explorviz-backend-discovery-service:dev
    container_name: explorviz-backend-discovery-service
    ports:
      - "8083:8083"
    depends_on:
      - id-generator

  frontend:
    image: explorviz/explorviz-frontend:dev
    container_name: explorviz-frontend
    ports:
      - "8090:80"
    environment:
      - API_ROOT=http://localhost:8090
    depends_on:
      - discovery-service
      - landscape-service
      - analysis-service
      - user-service
      - history-service

  ### Software Stack ###

  zookeeper:
    container_name: zookeeper
    image: wurstmeister/zookeeper
    expose:
      - "2181"

  kafka:
    container_name: kafka
    image: wurstmeister/kafka
    depends_on:
      - zookeeper
    expose:
      - "9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

  id-generator:
    image: redis
    container_name: explorviz-id-generator
    command: ["redis-server", "--appendonly", "yes"]
    expose:
      - "6379"
    volumes:
      - explorviz-id-generator-data:/data

  mongo-user:
    image: mongo
    container_name: explorviz-backend-user-mongo
    command: mongod --port 27017
    volumes:
       - explorviz-user-mongo-data:/data/db
       - explorviz-user-mongo-configdb:/data/configdb
    expose:
      - "27017"

  mongo-history:
    image: mongo
    container_name: explorviz-landscape-mongo
    command: mongod --port 27018
    volumes:
       - explorviz-history-mongo-data:/data/db
       - explorviz-history-mongo-configdb:/data/configdb
    expose:
      - "27018"

  mongo-settings:
     image: mongo
     container_name: explorviz-settings-mongo
     command: mongod --port 27019
     ports:
     - 27019:27019
     volumes:
     - explorviz-settings-mongo-data:/data/db
     - explorviz-settings-mongo-configdb:/data/configdb

volumes:
  explorviz-user-mongo-data:
  explorviz-user-mongo-configdb:
  explorviz-history-mongo-data:
  explorviz-history-mongo-configdb:
  explorviz-settings-mongo-data:
  explorviz-settings-mongo-configdb:
  explorviz-id-generator-data: